.home {
  background-color: azure;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &--list {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;

    h1 {
      margin: 20px;
      font-size: 20px;
    }
    .selector {
      width: 60%;
    }
  }

  &--map {
    width: 300px;
    position: relative;
    background-color: rgb(228, 210, 210);
    height: 200px;
    margin-top: 20px;
  }

  &--name {
    display: flex;
    background-color: cornsilk;
    margin-top: 20px;
    width: 90%;
    font-size: 14px;
    align-items: center;
  }

  &--item {
    width: 90%;
  }

  &--name > * {
    flex: 1 1;
    text-align: center;
  }
}
