.home {
  background-color: azure;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &--list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;

    h1 {
      margin: 20px;
      font-size: 20px;
    }
    .selector {
      width: 50%;
    }
  }

  &--map {
    width: 300px;
    position: relative;
    background-color: rgb(228, 210, 210);
    height: 200px;
    margin-top: 20px;
  }

  &--name {
    display: flex;
    background-color: cornsilk;
    margin-top: 20px;
    width: 90%;
    font-size: 14px;
    align-items: center;
  }

  &--item {
    width: 90%;
  }

  &--name > * {
    flex: 1 1;
    text-align: center;
  }
}

@media screen and (min-width: 450px) and (max-width: 1024px) {
  .home {
    &--list {
      margin-top: 30px;
      margin-bottom: 30px;
      h1 {
        margin: 50px;
        font-size: 40px;
      }
      .selector {
        width: 60%;
      }
    }

    &--map {
      width: 600px;
      height: 400px;
      margin: 50px 0 50px 0;
    }

    &--name,
    &--item {
      width: 80%;
      font-size: 20px;
    }
  }
}
